apiVersion: v1
kind: Service
metadata:
  name: {{ cache_name }}
  namespace: {{ cache_namespace }}
  labels:
    micro.io/owned-by: {{ name }}.{{ namespace }}
spec:
  clusterIP: None
  selector:
    app: {{ cache_name }}
  ports:
    - name: {{ cache_engine }}
      port: {{ cache_port }}
      targetPort: {{ cache_port }}
